@{
    ViewData["Title"] = "Products Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome @ViewBag.Username, Here is Products List!</h1>
</div>

<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xs" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="headerText">Product Create</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <input type="text" id="Id" hidden />
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="required">Product Name</label>
                            <input type="text" id="productName" class="form-control mt-2" placeholder="Please Enter Product Name" />
                        </div>
                    </div>
                    @* <div class="col-md-12">
                        <div class="form-group">
                            <label class="">Pack Size</label>
                            <input type="text" id="packSize" class="form-control mt-2" placeholder="Please Enter Pack Size" />
                        </div>
                    </div> *@
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="required">Quantity</label>
                            <input type="text" id="quantity" class="form-control mt-2" placeholder="Please Enter Quantity" />
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="required">Actual Price</label>
                            <input type="text" id="actualPrice" class="form-control mt-2" placeholder="Please Enter Actual Price" />
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="required">Sell Price</label>
                            <input type="text" id="sellPrice" class="form-control mt-2" placeholder="Please Enter Sell Price" />
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="required">Product Adding Date</label>
                            <input type="date" id="prodAddingDate" class="form-control mt-2" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="text-right">
                    <button type="button" class="btn btn-secondary btn-md" onclick="CloseProductModal()">Close</button>
                    <button type="submit" onclick="CreateProduct()" class="btn btn-primary btn-md" id="saveBtn">
                        <div id="saveSpinner" class="spinner-border spinner-border-sm hidden" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>Save
                    </button>

                    @* for update *@
                    <button type="submit" onclick="DeleteProduct()" class="btn btn-danger btn-md hidden" id="deleteBtn">
                        <div id="deleteSpinner" class="spinner-border spinner-border-sm hidden" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>Delete
                    </button>
                    <button type="submit" onclick="UpdateProduct()" class="btn btn-primary btn-md hidden" id="updateBtn">
                        <div id="updateSpinner" class="spinner-border spinner-border-md hidden" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>Update
                    </button>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mt-3">
    <div class="card">
        <div class="card-header justify-content-between">
            <h1> Products List </h1>
            <button class="btn btn-primary btn-md" id="productAddBtn" onclick="OpenProductCreateModal()"><i class="fa fa-light fa-plus-circle px-2"></i> Add Product</button>
        </div>
        <div class="card-body">
            <div>
                <table id="productListTable" class="table table-striped table-bordered table-hover table-sm table-responsive-sm cell-border" cellspacing="5" width="100%"></table>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">

        let companyId = '@ViewBag.CompanyId';

        $(document).ready(function () {

            //createDataTable();
        });

        function OpenProductCreateModal() {
            ClearModal();

            $("#deleteBtn").addClass('hidden');
            $("#updateBtn").addClass('hidden');
            $("#saveBtn").removeClass('hidden');

            $("#createModal").modal('show');
        }

        function CloseCompanyModal() {
            ClearModal();
            $("#createModal").modal('hide');
        }

        function ClearModal()
        {
            $("#Id").val("");
            $("#productName").val("");
            $("#quantity").val("");
            $("#actualPrice").val("");
            $("#sellPrice").val("");
            $("#prodAddingDate").val("");
        }

        function ProductCreationValidation() {
            var flag = true;
            if ($("#productName").val() == "") {
                ShowMessage("Product Name is Required!", MessageType.Validation);
                return false;
            }
            if ($("#quantity").val() == "") {
                ShowMessage("Quantity is Required!", MessageType.Validation);
                return false;
            }
            if ($("#actualPrice").val() == "") {
                ShowMessage("Actual Price is Required!", MessageType.Validation);
                return false;
            }
            if ($("#sellPrice").val() == "") {
                ShowMessage("Sell Price is Required!", MessageType.Validation);
                return false;
            }
            if ($("#prodAddingDate").val() == "") {
                ShowMessage("Product Adding Date is Required!", MessageType.Validation);
                return false;
            }

            return flag;
        }

        function CreateProduct() {
            if (!ProductCreationValidation()) {
                return;
            }

            var prodObj = {
                Name: $("#productName").val(),
                Quantity: $("#quantity").val(),
                ActualPrice: $("#actualPrice").val(),
                SellPrice: $("#sellPrice").val(),
                ProductAddingDate: $("#prodAddingDate").val(),
                CompanyId : companyId
            }

            $("#saveSpinner").removeClass('hidden');
            $("#saveBtn").attr('disabled', true);

            $.ajax({
                url: "/Products/Create",
                type: "POST",
                dataType: "json",
                data: { productObj: prodObj },
                success: function (response) {
                    $("#saveSpinner").addClass('hidden');
                    $("#saveBtn").attr('disabled', false);
                    if (response.success) {
                        //tableCompanyContainer.ajax.reload();
                        ShowMessage(response.message, MessageType.Create);
                        CloseProductModal();
                    }
                    else {
                        ShowMessage(response.message, MessageType.Validation)
                    }
                },
                error: function (error) {
                    ShowMessage(error.message, MessageType.Error);
                }
            });
        }
    
    </script>
}